* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --links-button-color: #1e9e6a;
  --google-button-text-color: #1a202c;
  --button-text-color: #ffffff;
  --input-text-color: #656769;
  --input-border-color: #e8e8e8;
  --input-bg-color: #f7fafc;
  --header-bg-color: #f3fff2;
}

body {
  font-family: "Archivo", sans-serif;

  display: flex;
  flex-direction: row;
  gap: 8%;
}

/* header */
header {
  height: 100vh;
  width: 50vw;
  background-color: var(--header-bg-color);

  display: flex;
  justify-content: center;
}

header img {
  width: 70%;
}

/* main */
main {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
}

main #intro {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 5px;

  color: var(--google-button-text-color);
}

#intro h4 {
  font-weight: 500;
  font-size: 18px;
}

#intro h2 {
  font-weight: 600;
  font-size: 28px;
}

form {
  display: flex;

  flex-direction: column;
  gap: 10px;
}

form > label {
  font-size: 18px;
}

form .input {
  margin: 0 0 15px;
  padding: 10px 13px;

  font-size: 15px;
}

form input {
  background-color: var(--input-bg-color);
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
}

form #check {
  display: flex;
  align-items: center;
  gap: 5px;

  font-size: 16px;
  font-weight: 500;

  margin-bottom: 25px;
}

form #check a {
  text-decoration: none;
  color: var(--links-button-color);

  margin-left: auto;
}

form button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: 8px 0;

  border: none;
  color: var(--button-text-color);
  font-size: 15px;
  font-weight: 600;
}

form #b1 {
  background-color: #1e9e6a;
}

form #b2 {
  background-color: var(--google-button-text-color);

  margin-bottom: 20px;
}

form button img {
  width: 20px;
}

form h4 {
  text-align: center;
  color: var(--google-button-text-color);
}

form a {
  text-decoration: none;
  color: var(--links-button-color);
}

button:hover {
  cursor: pointer;
}

@media (max-width: 769px) {
  header {
    display: none;
  }

  body {
    height: 100vh;
    justify-content: center;
    align-items: center;

    overflow: hidden;
  }

  main {
    width: 60vw;
  }
}
